.navbar {
    background-color: rgb(134, 57, 206);
    color: rgb(255, 238, 253);
}

.btn-color {
    background-color: rgb(8, 8, 109);
    color: rgb(255, 238, 253);
}

#steve-image {
    height: 500px;
}